<h1>RJCTR beta </h1>

<h2>Not feeling like giving out your number?</h2>
<h3>Let him down easy by having him talk to our chat-bot Bieberfan instead of you.</h3>

The Bieberfan chat-bot will convince him, or her, that you are an ardent and slightly deranged Justin Bieber fan,<br>
and that you have no intention of sleeping with you him, or her. 


<img src="http://i68.photobucket.com/albums/i23/jeff_bennion/D%20Bags/39ARealLiveDouchebag.jpg">

