<h1>Not feeling like giving out your number?</h1>
<p>Give em the rejector number instead and he will chat with RJCTR's Bieberfan chatbot instead</p>

<img src="http://i68.photobucket.com/albums/i23/jeff_bennion/D%20Bags/39ARealLiveDouchebag.jpg">

