<div>
<h2>Not feeling like giving out your number?</h2>

	Let him down easy by having him talk to our chat-bot Bieberfan instead of you.
	The Bieberfan chat-bot will convince him, or her,
	that you are an ardent and slightly deranged Justin Bieber fan,
	and that you have no intention of sleeping with you him, or her.


	<h2> The BieberFan Number is,<br>+1 347-897-5509 </h2>
	
</div>

