<h2>Bieberfan Messages</h2>

<!-- Loop over messages and print out a property for each one -->
<% @client.account.messages.list.each do |message| %>

	<!-- this takes the phone numbers and makes them anonymous -->
		
		<% if "#{message.from}" == "+13478975509"%>  
			<% sender = "Bieberfan"%> 
		<%else%>  
			<% sender = "RJCTEE" %> 
		<% end %>	

	<!-- This aligns the messages based on who sent them to make them easier to read.  -->
	<% if sender == "Bieberfan" %>
			<div class="bubble">
			<%= "#{message.body}" %></div> 
			</div>
		<% else %> 
			<div class="bubble bubble--alt"> 
			<%= "#{message.body}" %>
			</div>
	 <% end %>

<% end %>
