<h1> Search </h1>
<h2>Did you give the RJCTR number out? Search a specific number to see their conversation with BieberFan</h2>

<% @client.account.messages.({:"message.to" => "+17184905560"|| :"message.from" => "+17184905560" })each do |message| %>

<%= "from: #{message.from}" %> <br>
<%= "#{message.body}" %> <br>
<hr>

<% end %>


	