/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
font: 200 2em/120% 'Just Another Hand', Helvetica, Sans-serif;
color: #333; 
background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Sexy_Mouth_transparent.png/712px-Sexy_Mouth_transparent.png");
background-repeat: no-repeat;
padding-left:1cm;
max-width: 500px;
}

div {
	background: rgba(248,248,255,.8);
	padding: 10px
}

div.messages {
	font-size: 50%;
	background-color: rgba(0,0,100,.8);
	margin: 0px auto 0px auto;
}

h1 {
	text-align: center;
	background-color: #ea1547;
	font-style: bold;
	color: white; 
	padding: 20px;
}
h2 {
	background: rgba(255,0,0,.5);
	padding: 10px
}
h4 {
	background-color: rgba(255,255,255,.6);
	line-height:120%;
}